@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital@1&family=Kite+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Seaweed+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Jim+Nightshade&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Seaweed+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Jim+Nightshade&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Seaweed+Script&family=Spline+Sans:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #F6F6F6;
}
.form{
    position: fixed;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #fff;
    max-width: 720px;
    width: 100%;
}
.form .form-box{
    display: flex;
}
.form-box .form-details{
    max-width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("signup.png");
    background-size: cover;
    background-position: center;
}
.form-box h2{
    text-align: center;
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 25px;
}
.form-box .picture_logo{
    width: 250px;
}
.form-box .form-content{
    width: 100%;
    padding: 35px;
}
form .input-field{
    height: 45px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}
form .input-field input{
    width: 100%;
    height: 100%;
    border: 2px solid #c2baba;
    font-size: 0.95rem;
    border-radius: 12px;
    outline: none;
    padding: 0 15px;
}
.input-field input:focus{
    border-color: rgb(128, 81, 81);
}

.input-field input:is(:focus, :valid){
    padding: 16px 15px 0;
}
form .input-field label{
    position: absolute;
    top: 50%;
    left: 15px;
    color: #6e6b6b;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.2s ease;
}
.input-field input:is(:focus, :valid) ~ label{
    transform: translateY(-120%);
    font-size: 0.75rem;
    color: rgb(128, 81, 81);
}
.form-box a{
    color: rgb(128, 81, 81);
}
.form-box a:hover{
    color: rgb(248, 150, 150);
}
form button{
    width: 100%;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    padding: 14px 0;
    border-radius: 9px;
    margin: 25px 0;
    color: #fff;
    background: rgb(128, 81, 81);
    cursor: pointer;
    transition: 0.2s ease;
}
form button:hover{
    background: rgb(90, 64, 64);
}
.form-box .bottom-link{
    text-align: center;

}

